extends layout

block content
  .row
    .col-xs-12
      .row.list-group
        table.table
          each d in data.hits.hits
             tr
               td
                 = d._source.name
    .col-xs-12.col-sm-4 
      p.lead= sidebar